/* style for instructor component */
.instructor-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
}
.profile-icon {
  margin: 5px;
  background-color: white;
}
